node_modules
**/node_modules
.next
**/.next
dist
**/dist
target
**/target
.git
.github
.idea
.vscode
*.log
.env.local
.env*.local
coverage
**/coverage
test-results
playwright-report
apps/e2e/test-results
apps/e2e/playwright-report
